<%- include('../includes/head')%>

<link rel="stylesheet" href="./../../public/css/style.css">
    <title>Authenticatios</title>
  </head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
        <a class="btn btn-primary float-right mt-5 ml-2 mr-3" href="/auth/logout">Logout</a>
  <a class="btn btn-primary float-right mt-5 ml-2" href="/">To Picland</a>
    <div class="jumbotron main-bg-color">
      <h1 class="display-4">Picland</h1>
      <p class="lead">Add your favorite picture links</p>
      <hr class="my-4" />
      <p class="lead">Add image and descibe</p>

      <form action="/add" method="post">
        <div class="form-group">
          <label for="imageUrl">Image url</label>
          <input
            id="imageUrl"
            class="form-control"
            type="text"
            name="imageUrl"
          />
        </div>
        <div class="form-group">
          <label for="describe">Describe</label>
          <textarea
            id="describe"
            class="form-control"
            type="text"
            name="describe"
          ></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Add/Update</button>
      </form>
    </div>

    <div class="container">
      <div class="card-columns">
        <div class="card animated rollIn">
          <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1535758447558-77807254caef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60"
            alt=""
          />
          <div class="card-body">
            <p class="card-title lead">describe</p>
          </div>

          <!--Delete button will be hidded-->
          <form action="/delete" action="post" class="form-inline">
            
            <button type="submit" class="btn btn-dark m-3">Delete</button>
            <a class="btn btn-primary float-left" href="/edit">Edit</a>
          </form>
        </div>
      </div>
    </div>  
      </div>
    </div>
   
<%- include('../includes/footer')%>
<%- include('../includes/end')%>