p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.main-bg-color {
  background-color: lightblue;
}

.page-container {
  min-height: 100%;
}

.content-wrap {
  overflow: auto;
  padding-bottom: 100px;
}

.footer {
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCardPointer {
  cursor: pointer;
}
